<div class="container">
  <h1 class="header">Create brew</h1>
  <button class="x-button">X</button>
  <div class="form-container">
    <div class="details">
      <h3>Brew details</h3>
      <form>
        <label *ngFor="let detail of inputTags.details">{{ detail }}</label>
        <input *ngFor="let detail of inputTags.details" />
      </form>
    </div>
    <div class="ingredients">
      <h3>Ingredients</h3>
      <label *ngFor="let ingredient of inputTags.ingredients">{{
        ingredient
      }}</label>
      <input *ngFor="let ingredient of inputTags.ingredients" />
    </div>
  </div>
</div>
