.container {
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: white;
  border: 1px solid gray;

  .header {
    width: 100%;
    text-align: center;
    margin-top: calc(var(--grid) * 2);
  }
}
