<div class="container">
  <h1 class="header">Create brew</h1>
  <button class="x-button">X</button>
  <div class="form-container">
    <div class="details">
      <h3>Brew details</h3>
      <div *ngFor="let detail of inputTags.details" class="detailsForm">
        <div>
          <label>{{ detail }}</label>
          <input />
        </div>
      </div>
    </div>
    <div class="ingredients">
      <h3>Ingredients</h3>
      <div
        *ngFor="let ingredient of inputTags.ingredients"
        class="ingredientsForm"
      >
        <div>
          <label>{{ ingredient }}</label>
          <input placeholder="{{ ingredient }} type" />
          <input placeholder="Amount" />
          <button>Add {{ ingredient }}</button>
          <ng-content>
            <!--<label *ngFor=""></label>-->
          </ng-content>
        </div>
      </div>
    </div>
    <button class="create-button">Create</button>
  </div>
</div>
