.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: white;
  border: 1px solid gray;
  border-radius: 3px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: calc(var(--grid) * 10);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-bottom: 1px solid gray;
  background-color: #e2dede;
}

.header h1 {
  width: 100%;
  text-align: center;
  padding: calc(var(--grid) * 3) 0 calc(var(--grid) * 2) calc(var(--grid) * 4);
}

.header .header__x-button {
  width: calc(var(--grid) * 5);
  height: calc(var(--grid) * 4);
  text-align: center;
  position: relative;
  top: -1px;
  right: 0;
  background-color: tomato;
  border: 0.3px solid #555555;
  outline: none;
  border-radius: 0 0 0 5px;
}

.header .header__x-button .material-icons {
  color: white;
  padding-bottom: 6px;
}

.header .header__x-button:hover {
  background-color: #f88975;
}

.header .header__x-button:active {
  top: 0px;
}

.form-container {
  width: 100%;
  height: calc(100% - calc(var(--grid) * 10));
  overflow: auto;
}

.form-container .details, .form-container .fermentation {
  width: 100%;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 1px solid gray;
  padding-bottom: calc(var(--grid) * 5);
}

.form-container .details h3, .form-container .fermentation h3 {
  text-align: center;
  padding: calc(var(--grid) * 4) 0;
  font-size: 20px;
}

.form-container .details .details__form, .form-container .fermentation .details__form {
  display: inline-block;
  width: 50%;
  margin-top: calc(var(--grid) * 4);
}

.form-container .details .details__form div, .form-container .fermentation .details__form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-container .details .details__form div .details__mat-form, .form-container .fermentation .details__form div .details__mat-form {
  width: 300px;
}

.form-container .details .details__form div .details__mat-form .details__input, .form-container .fermentation .details__form div .details__mat-form .details__input {
  width: 200px;
}

.form-container .fermentation {
  height: auto;
}

.form-container .ingredients {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: calc(var(--grid) * 5);
}

.form-container .ingredients h3 {
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.form-container .ingredients .ingredients__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: auto;
}

.form-container .ingredients .ingredients__body .ingredient__form--container {
  width: 50%;
  background-color: #dbdbf5;
}

.form-container .ingredients .ingredients__body .ingredient__form--container .ingredients__form {
  height: auto;
  width: 100%;
  margin-top: calc(var(--grid) * 4);
}

.form-container .ingredients .ingredients__body .ingredient__form--container .ingredients__form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-container .ingredients .ingredients__body .ingredient__form--container .ingredients__form div .ingredients__input {
  width: calc(var(--grid) * 5);
}

.form-container .ingredients .ingredients__body .ingredient__form--container .ingredients__form div button {
  height: calc(var(--grid) * 5);
  background-color: #a6f0a6;
  color: black;
}

.form-container .ingredients .ingredients__list {
  width: 50%;
  height: 500px;
  overflow: auto;
  display: inline-block;
}

.form-container .ingredients .ingredients__list h4 {
  text-align: center;
}

.form-container .ingredients .ingredients__list p {
  text-align: center;
  padding-top: calc(var(--grid) * 5);
  background-color: #d9f3d9;
}

.form-container .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.form-container .button-container .create-button {
  background-color: #a6f0a6;
  border: none;
  outline: none;
  height: calc(var(--grid) * 6);
  width: calc(var(--grid) * 35);
  margin: calc(var(--grid) * 6) 0 auto auto;
  font-size: 18px;
  margin-bottom: 1px;
}

.form-container .button-container .create-button:hover {
  background-color: #b7f3b7;
}

.form-container .button-container .create-button:active {
  position: relative;
  top: 1px;
}
/*# sourceMappingURL=brew-form.component.css.map */