<div class="container">
  <h1 class="header">Create brew</h1>
  <button class="x-button">X</button>
  <div class="form-container">
    <div class="details">
      <h3>Brew details</h3>
      <div *ngFor="let detail of inputTags.details" class="detailsForm">
        <div>
          <label>{{ detail }}</label>
          <input />
        </div>
      </div>
    </div>
    <div class="ingredients">
      <h3>Ingredients</h3>
      <div
        *ngFor="let ingredient of inputTags.ingredients"
        class="ingredientsForm"
      >
        <label>{{ ingredient }}</label>
        <input />
        <button>Add {{ ingredient }}</button>
      </div>
    </div>
    <button>Create</button>
  </div>
</div>
