.container__brewListItem {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	border-bottom: 1px solid gray;

	h4 {
		width: 100%;
		height: calc(var(--grid) * 5);
		font-size: 20px;
		padding-left: calc(var(--grid) * 2);
		padding-top: calc(var(--grid) * 2);
		margin-bottom: calc(var(--grid) * 2);
	}

	h5 {
		padding-left: calc(var(--grid) * 2);
	}
}
