html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Source Sans Pro", sans-serif;
  background-color: var(--color-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
}

:root {
  --color-primary: hotpink(224, 224, 231);
  --color-secondary: rgb(226, 218, 218);
  --grid: 8px;
}
