.container {
  display: flex;
  height: 100%;
  width: 100%;

  .brew-list {
    height: 100%;
  }

  .brew-form {
    height: 90%;
    width: 90%;
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    right: 0;
    left: 0;
    top: 20px;
    margin: 0 auto;
  }

  .main-page {
    width: 100%;
  }
}
