.container {
  display: flex;
  height: 100%;

  .brew-list {
    height: 100%;
  }

  .brew-form {
    height: 50%;
    width: 50%;
    position: absolute;
    z-index: 1;
    background-color: hotpink;
  }

  .main-page {
    width: 100%;
  }
}
