.status {
	width: 75%;
	margin: 0 auto;
	background-color: green;

	h3 {
		text-align: center;
		color: rgba(0, 0, 0, 0.5);
		padding-top: calc(var(--grid) * 10);
		padding-bottom: calc(var(--grid) * 2);
		font-size: 22px;
		background-color: blue;
	}

	h5 {
		text-align: center;
		color: rgba(0, 0, 0, 0.5);
		font-size: 14px;
	}
}
