.dashboard {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  .dashboard__header {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    width: 100%;
    height: 56px;
    margin: 16px 16px 32px 2.5%;

    h3 {
      margin: 0 32px 0 0;
      align-self: center;
    }

    div {
      align-self: center;
    }
  }
}
