.mainpage {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;

	.navbar {
		height: 100%;
		width: 100%;
		margin-left: calc(var(--grid) * 3);

		.navbar__select {
			width: calc(var(--grid) * 40);

			flex-grow: 1;
			display: inline-block;
		}

		.navbar__link {
			height: 60px;
		}
	}
}
