.descriptionTable {
  width: 38%;
  color: var(--color-font);
  background: var(--color-secondary);
  box-shadow: 3px 3px 10px black;
  border-radius: 2px;
  height: 96px;

  tr,
  th,
  td {
    color: var(--color-font);
  }
}
