.respiration {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: calc(var(--grid) * 80);

  .respiration__header {
    width: 100%;
    font-size: 25px;
    flex-direction: row;
    margin: 0 auto;
    text-align: center;
    margin-bottom: calc(var(--grid) * 4);

    h4 {
      display: inline-block;
      font-size: 25px;
      text-align: center;
      margin: 0 auto;
      margin-bottom: calc(var(--grid) * 6);
    }
  }

  .respiration__blinker-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .respiration__blinker {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: tomato;
      align-self: flex-end;
      margin-right: calc(var(--grid) * 5);
    }

    .respiration__blinker--blink {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: rgb(247, 139, 120);
    }
  }

  .respiration__short-term {
    width: 50%;
    height: 100%;

    h5 {
      text-align: center;
      font-size: 18px;
    }
  }

  .respiration__long-term {
    width: 50%;
    height: 100%;

    h5 {
      text-align: center;
      font-size: 18px;
    }
  }
}
