<div class="respiration">
  <div class="respiration__header">
    <h4>Airlock activity</h4>
  </div>
  <div class="respiration__blinker-container">
    <!-- Insert [ngClass] for blinking based on resp data -->
    <div class="respiration__blinker"></div>
  </div>
  <div class="respiration__long-term">
    <h5>Long term</h5>
    <canvas id="resp-long">{{ chart2 }}</canvas>
  </div>
  <div class="respiration__short-term">
    <h5>Short term</h5>
    <canvas id="resp-short">{{ chart }}</canvas>
  </div>
</div>
