<div class="brew">
  <div class="brew__header">
    <h4>{{ activeBrew.name }}</h4>
  </div>
  <div class="brew__details">
    <h5>Details</h5>
    <div>
      <p>Brew type: {{ activeBrew.type }}</p>
      <p>Brew date:</p>
      <p>Status:</p>
      <p>Last active:</p>
      <p>Samples left:</p>
      <p>Amount:</p>
      <p>Total fermentation period:</p>
      <p>Fermentation days left:</p>
      <p>Preferred fermentation temperature:</p>
      <p>Bottled days left:</p>
    </div>
  </div>
  <div class="brew__ingredients">
    <h5>Ingredients</h5>
    <div class="ingredients__body">
      <div>
        <h6>Barley</h6>
        <p>Caramunich, 4220g</p>
      </div>
      <div>
        <h6>Hops</h6>
      </div>
      <div>
        <h6>Yeast</h6>
      </div>
      <div>
        <h6>Water</h6>
      </div>
    </div>
  </div>
</div>
