.statistics {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .statistics__status {
    width: 100%;
  }

  .statistics__airlock {
    width: 100%;
  }

  .statistics__temperature {
    width: 100%;
  }
}
