.container__brewList {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: calc(var(--grid) * 50);
	border-right: 1px solid gray;
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;

	h3 {
		width: 100%;
		height: calc(var(--grid) * 5);
		text-align: center;
		font-size: 28px;
		margin-top: calc(var(--grid) * 2);
		margin-bottom: 0px;
		padding-bottom: calc(var(--grid) * 2);
		border-bottom: 1px solid gray;
	}

	.createBrew {
		width: 100%;
		position: sticky; //Have to make this sticky
		bottom: 0px;

		button {
			position: sticky;
			width: 100%;
			height: calc(var(--grid) * 8);
			font-size: 18px;
			border: none;
			cursor: pointer;
			outline: none;
			background-color: var(--color-button);
		}

		button:hover {
			background-color: var(--color-button-hover);
		}

		button:active {
			position: relative;
			top: 1px;
		}
	}
}
