.respirator {
  background: tomato;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.respirator--blink {
  background: rgb(238, 116, 95);
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
