.respirator {
  position: absolute;
  right: 0;
  display: inline-block;
  background: tomato;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 10px 10px 0 0;
}

.respirator--blink {
  @extend .respirator;
  background: rgb(241, 146, 129);
}
