.statistics {
	height: 100%;
	width: 100%;
	overflow: visible;
	display: flex;
	flex-direction: column;

	.status {
		width: 75%;
		margin: 0 auto;

		h3 {
			text-align: center;
			color: rgba(0, 0, 0, 0.5);
			padding-top: calc(var(--grid) * 10);
			padding-bottom: calc(var(--grid) * 2);
			font-size: 22px;
		}

		h5 {
			text-align: center;
			color: rgba(0, 0, 0, 0.5);
			font-size: 14px;
		}

		.status__statusbar {
			background-color: "#1a90ff";
			border-radius: 5;
			height: 10px;
		}
	}

	.airlock {
		width: 85%;
		height: auto;
		margin: 0 auto;

		h3 {
			text-align: center;
			color: rgba(0, 0, 0, 0.5);
			padding-top: calc(var(--grid) * 10);
			padding-bottom: calc(var(--grid) * 2);
			font-size: 22px;
		}

		div {
			background-color: rgb(247, 251, 252);
			height: calc(var(--grid) * 80);
			width: 100%;
			box-shadow: -4px 4px 5px -2px rgba(0, 0, 0, 0.3);
		}
	}

	.temperature {
		width: 85%;
		height: auto;
		margin: 0 auto;
		padding-top: calc(var(--grid) * 15);

		h3 {
			text-align: center;
			color: rgba(0, 0, 0, 0.5);
			padding-top: calc(var(--grid) * 10);
			padding-bottom: calc(var(--grid) * 2);
			font-size: 22px;
		}

		div {
			background-color: rgb(247, 251, 252);
			height: calc(var(--grid) * 80);
			width: 100%;
			box-shadow: -4px 4px 5px -2px rgba(0, 0, 0, 0.3);
		}

		.templong {
			margin-bottom: 100px;
		}
	}
}
