.brew-list {
  display: flex;
  flex-direction: column;
  width: calc(var(--grid) * 50);
  height: 100%;
  border: solid black 1px;
  overflow: auto;
  position: relative;

  .brew-list__header {
    font-size: 28px;
    text-align: center;
    padding-bottom: calc(var(--grid) * 5);
    padding-top: calc(var(--grid) * 2);
    border-bottom: 1px solid black;
    margin-bottom: 0;
    position: sticky;
    top: 0;
    width: 100%;
    display: inline-block;
    background-color: var(--color-secondary);
  }

  .brew-list__button {
    width: 100%;
    position: sticky;
    bottom: 1px;

    button {
      position: sticky;
      width: 100%;
      height: calc(var(--grid) * 8);
      font-size: 18px;
      background-color: rgb(166, 240, 166);
      border: none;
      cursor: pointer;
      outline: none;
    }

    button:hover {
      background-color: rgb(183, 243, 183);
    }

    button:active {
      position: relative;
      top: 1px;
    }
  }
}
